{% extends "layout.html" %}
<!--{% from "_form_macros.html" import render_field %}-->

{% block content %}

<div class="editor-wrapper markdown-body">
  <form action="{{ url_for('forums.write_answer', question_id=question_id) }}" id="formMd" method="post">
    {{ form.csrf_token }}
    <!--
    <div class="form-group">
      <input class="title" type="text" name="question_title" id="title" placeholder="Title" />
    </div>
    -->
    <textarea name="answer_context" id="context" placeholder="Content here ...."></textarea>
      {{ simplemde.load }}
    <button class="btn btn-sm btn-success" name="submit" type="submit">Submit</button>
  </form>
</div>

<script>
  document.getElementById("formMd").onsubmit = function () {
    /*
    if (!document.getElementById("title").value) {
        return false;
    }
    */
    if (!document.getElementById("context").value) {
        return false;
    }
}
</script>

{% endblock %}