{% extends "common/layout.html" %}
{% block content %}

<div>
	<p>
		<a href="{{ url_for('utils.index') }}">Home</a> >
		<a>{{ pdf.Category.category_name }}</a>
	</p>
</div>

<div class="post-title">
	{{ pdf.Pdf.pdf_title }}
</div>

<div class="post-author">
	<img class="post-author-thumbnail" src="{{ url_for('static', filename='image/user/' + pdf.User.thumbnail) }}">
	<div>
		<a href="https://www.google.com" class="post-author-name">	{{ pdf.User.username }} </a> <br/>
		<div class="post-date"> Updated: 14 December 2017 </div>
	</div>
</div>

<div class="post-description">
	{{ pdf.Pdf.pdf_description }}
</div>

<embed class="post-file" src="{{ url_for('static', filename='pdf/' + pdf.Pdf.pdf_filename ) }}" type="application/pdf"/>

<!--comment-->
<div id="content" style="width: 10px;"></div>
<input type="hidden" id="url" value="{{ url_for('pdfs.add_comment', pdf_id=pdf.Pdf.id) }}" />
<input type="hidden" id="auth" value="{{ current_user.is_authenticated }}" />
<script type="text/babel" src="{{ url_for('static', filename='js/comment?version=19.js') }}"></script>

{% endblock %}