{% extends "common/layout.html" %}
{% from "common/_form_macros.html" import render_field %}

{% block content %}

<style>
    .search-list{
        max-height: 200px;
        overflow-y: scroll;
    }
</style>
<h1>Upload new File</h1>
<form action="{{ url_for('pdfs.upload_pdf') }}" method="post" enctype=multipart/form-data>
    {{ form.csrf_token }}
    <dl>
        {{ render_field(form.pdf_title, placeholder="Title") }}
        {{ render_field(form.pdf_description, placeholder="Description") }}
        <a target="_blank" href="https://isbnsearch.org/">Find ISBN10</a>
        {{ render_field(form.pdf_isbn, placeholder="ISBN10") }}
    </dl>
    <p>submit pdf file</p>
    <input type="file" id="file" name='file' accept="application/pdf"/>
    <button class="btn btn-sm btn-success" type="submit">Upload</button>
</form>

<script type="text/babel" src="{{ url_for('static', filename='js/search?version=1.js') }}"></script>

{% endblock %}

