{% extends "common/layout.html" %}
{% from "common/_form_macros.html" import render_field %}

{% block content %}

<div class="user-registration user-account-form">
  <div class="page-header user-account-form-header">
    <h3>Change email</h3>
  </div>
    <p> <div style="font-weight: bold"> Current Email </div> {{ current_user.email }} </p>
    <form action="{{ url_for('users.user_email_change') }}" method="post">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="Enter New Email Address") }}
    </dl>
    <button class="btn btn-block btn-outline-secondary" type="submit">Update</button>
  </form>
</div>

{% endblock %}