{% extends "common/layout.html" %}
{% from "common/_form_macros.html" import render_field %}

{% block content %}

<div class="user-registration user-account-form">
  <div class="page-header user-account-form-header">
    <h3>Log in</h3>
  </div>
    <form action="{{ url_for('users.login') }}" method="post" id="loginForm">
    {{ form.csrf_token }}
    <dl>
      {{ render_field(form.email, placeholder="Email address") }}
      {{ render_field(form.password, placeholder="Password") }}
    </dl>
    <button class="btn btn-block btn-outline-secondary" type="submit">Log In</button>
  </form>
  <button class="btn btn-block btn-outline-secondary" onclick="location.href='/register'">Sign Up</button>
  <div class="user-account-form-footer">
    <a href="/reset">Forget your password?</a>
  </div>  
</div>

{% endblock %}
