{% extends "common/layout.html" %}
{% from "common/_form_macros.html" import render_field %}

{% block contentHeader %}

<style type="text/css">
  
.user-profile {
  margin: auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: white;
}

.user-profile-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.user-profile-name {
  font-weight: bold;
  font-size: 20pt;
  margin-bottom: 1vw;
}

</style>

<div class="user-profile" style="background-color: #52627c; height: auto;">
  <div class="container">
  <div class="user-profile">
  <div class="row">
    <div class="col-sm-1">
      <img class="user-profile-thumbnail" src="{{ url_for('static', filename='image/user/' + user.thumbnail) }}">
      </div>
      <div class="col-sm-11">
      <div style="margin-left: 10px">
      <div class="user-profile-name"> {{ user.username }} </div>
      {% if user.description %}
        {{ user.description }}
      {% endif %}
      </div>
      </div>
      </div>

</div>
</div>

</div>

{% endblock %}

{% block content %}

여기 작성글 보이게

{% endblock %}