{% extends "common/layout.html" %}
{% from "common/_form_macros.html" import render_field %}

{% block contentHeader %}

<style type="text/css">
  
.user-profile {
  margin: auto;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: white;
  position: relative;
  z-index: 150;
}

.user-profile-thumbnail {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

.user-profile-name {
  font-weight: bold;
  font-size: 20pt;
  margin-bottom: 5px;
}

.list-subtitle {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

</style>

<div style="background-color: white; z-index: 150; position: relative;">
<div class="user-profile" style="background-color: #563232; height: auto;">
  <div class="container">
    <div class="user-profile">
      <div class="row">
        <div class="col-sm-1">
          <img class="user-profile-thumbnail" src="{{ url_for('static', filename='image/user/' + user.thumbnail) }}">
        </div>
        <div class="col-sm-11">
          <div style="margin-left: 50px; color: whitesmoke;">
            <div class="user-profile-name"> {{ user.username }} </div>
            {% if user.description %}
              {{ user.description }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">

{% if pdfs.count() > 1 %}
<div class="list-subtitle">
  <h5>Upload Articles</h5>
</div>
{% set pdfs = pdfs %}
{% set pdf_carousel_id = "carouselPopularPdf" %}
{% include 'utils/list_pdf.html'%}
{% endif %}

{% if videos.count() > 1 %}
<div class="list-subtitle">
  <h5>Upload Videos</h5>
</div>
{% set videos = videos %}
{% set video_carousel_id = "carouselPopularVideo" %}
{% include 'utils/list_video.html'%}
{% endif %}

</div>
</div>
{% endblock %}