<style type="text/css">
.category-panel {
	display: none;
	position: fixed;
	top: 58px;
	overflow: hidden;
	width: 100%;
	height: 100px;
	background-color: white;
	overflow: auto;
	z-index: 1; overflow-x: hidden;
}

.block {
	display: inline-block;
}
</style>

<div id="category" class="category-panel">

		<div class="block" style="width: 10%">
			hello
		</div>
		<div class="block" style="width: 10%">
			hello
		</div>	
		<div class="block" style="width: 10%">
			hello
		</div>	
</div>
</div>




