<style type="text/css">
.collapse-panel {
	display: none;
	position: fixed;
	top: 58px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: white;
	overflow: auto;
	z-index: 150;
	overflow-x: hidden;
}

.collapse-panel a {

}

.block {
	display: inline-block;
}
</style>

<div id="collapse" class="collapse-panel">
	<div style="margin-top: 70px; margin-left: 40px; margin-right: 40px;">
		<a> Explore </a>
		<hr/>
		new<br/>
		<a> Article </a><br/>
		<a> Video </a><br/>
		<a> Question </a>
		<hr/>
		<a> Chat </a>
		<hr/>
		<a> My page </a><br/>
		<a> My profile </a><br/>
		<a> Account setting </a><br/>
		<a> Sign out </a>
		<hr/>
	</div>
</div>
