body {
  background: #ffffff;
}

.editor-wrapper{
  max-width: 1000px;
  padding: 10px;
  margin: 60px auto;
}

.editor-preview{
  background: #fafafa !important;
}

.CodeMirror{
  background: #fafafa !important;
}

.article-detail{
  width: 100%;
  padding: 10px;
  margin-top: 60px;
}

input {
    width: 100%;
}

a.articles {
  color: black;
  text-decoration: none
}

a.articles :hover{
  text-decoration: none
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}



/*------------- comment -------------------------------------------*/

.comment-forum .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 45px;
    margin-bottom: 50px;
}

@media (max-width: 767px) {
  .comment-forum .markdown-body {
      padding: 15px;
  }
}

.comment-forum .comment {
    width: 80vw;
    margin-top: 10px;
    margin-bottom:30px;
    padding: 30px;
}

.comment-forum .commentForm {
    width: 80vw;
    margin-top: 10px;
    margin-bottom:30px;
    padding: 30px;
}

.comment-forum textarea {
    width: 80vw;
    height: 100%;
    border: solid 1px rgba(178, 179, 153, 0.125);
}

.commentForm button {
    margin-bottom: 20px;  
    margin-right: 0 !important;
    margin-left:auto !important;
    display:block !important;
}








.comment-post .comment .markdown-body, .comment-post .commentForm .markdown-body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px;
    margin-bottom: 20px;
}

.comment-post .comment {
    width: 300px;
    margin-top: 10px;
    padding: 25px;
}

.comment-post .comment p {
  font-size: 10.5pt;
}

.comment-post .commentForm {
    width: 300px;
    margin-top: 10px;
}

.comment-post .commentForm textarea {
    width: 300px;
    height: 100%;
    border: solid 1px rgba(178, 179, 153, 0.125);
    margin-bottom: 10px;
    outline: none;
}

.comment-post .commentForm button {
    margin-right: 0 !important;
    margin-left:auto !important;
    display:block !important;
    margin-bottom: 20px;
}

/*------------- comment end -----------------------------------------------*/


/*------------- chat -------------------------------------------*/



.comment-chat .comment {
    width: 100%;
    padding: 30px;
    margin: 0;
}

.comment-chat textarea {
    width: 90%;
    height: 100%;
    border: solid 1px rgba(178, 179, 153, 0.125);
    display:block !important;
    margin-top: 25px;
    outline: none !important;
}

/*------------- chat end -------------------------------------------*/

.post-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.post-author {
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.post-author-thumbnail {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 1vw;
}

.post-author-name {
  color: black !important;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 12pt;
}

.post-date {
  font-size: 8pt;
}

.post-description {
  margin-bottom: 2vw;
}

.post-comment {
  margin-left: 10vw;
  margin-right: 10vw;
}

.post-file {
  width: 100%;
  max-width: 800px;
  height: 85vh;
  display: block;
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 4vh;
}


/* User account form: Login, Signup */

.user-account-form {
  width: 40%;
  min-width: 280px;
  display: block;
  margin: auto;
  padding: 2vw;
}

.user-account-form a {
  color: black;
  text-decoration: none;
}

.user-account-form button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding: 10px;
}

.user-account-form-header, .user-account-form-footer {
  text-align: center;
  margin-bottom: 2vh;
}

.user-account-form-header {
  text-transform: uppercase;
}

