{% extends "common/layout.html" %}
{% block contentHeader %}

<style type="text/css">
	.list-subtitle {
		margin-top: 1.75rem;
		margin-bottom: 1.75rem;
	}

	.index-box {
		position: relative;
		z-index: 100;
		background-color: white;
	}

	.index-box-top {
		width: 100%;
		height: auto;
		text-align: center;
		background-size: cover;
		background-position: center;
		background-image: url('/static/image/template/apple.png');
		padding: 100px;
		color: white;
	}

	.index-subtitle {
		font-size: 40px;
		font-weight: 900;
		margin-top: 50px;
		margin-bottom: 40px;
		text-align: center;
	}

	.index-more-btn {
		margin: auto; margin-top: 40px; margin-bottom: 40px;
		border-radius: 0px;
		background-color: #982828 !important;
		border: none;
		width: 400px; height: 55px;
		font-weight: bold;
		font-size: 16pt;
		color: white;
		
		-webkit-transition-duration: 0.4s; /* Safari */
    	transition-duration: 0.4s;
	}

	.index-more-btn:hover {
		background-color: #6b2c2c !important; /* Green */
    	cursor: pointer;

	}
</style>

<div class="index-box">

	<div class="index-box-top">
		<div style="font-size: 50pt; font-weight: bold;">
			Readeon
		</div>
		<div style="width: 50%; margin: 0 auto;">
			Stay informed, discover new passions, feed your curiosity, and never stop learning with access to everything you want to read.
		</div>
	</div>


	<div class="index-subtitle">
		Most Read Articles
	</div>
	<div class="container">
		{% set pdfs = pdfs %}
		{% set pdf_carousel_id = "carouselPopularPdf" %}
		{% include 'utils/list_pdf.html'%}
	</div>
	<div style="text-align: center;">
		<button type="button" class="btn index-more-btn" onclick = "location.href='{{ url_for('pdfs.index') }}'">More About Articles</button>
	</div>

	<div class="container">
		<hr/>
	</div>

	<div class="index-subtitle">
		Most Wathced Videos
	</div>
	<div class="container">
		{% set videos = videos %}
		{% set video_carousel_id = "carouselPopularVideo" %}
		{% include 'utils/list_video.html'%}
	</div>
	<div style="text-align: center;">
		<button type="button" class="btn index-more-btn" onclick = "location.href='{{ url_for('videos.index') }}'">More About Videos</button>
	</div>




</div>
{% endblock %}