{% extends "common/layout.html" %}
{% block contentHeader %}

<div style="position: relative; z-index: 100;">
	<div style="width: 100%; height: auto; text-align: center; background-image: url('/static/image/template/book.png'); padding: 100px;">
		<div style="font-size: 50pt; font-weight: bold;">
			Readeon
		</div>
		<div style="width: 50%; margin: 0 auto;">
			Stay informed, discover new passions, feed your curiosity, and never stop learning with access to everything you want to read.
		</div>
		<br/>
		<div style="display: inline-block;">
			<button type="button" class="btn btn-outline-light">Join</button>
			<button type="button" class="btn btn-outline-light">Login</button>
		</div>
	</div>
</div>

{% endblock %}