{% extends "common/layout.html" %}
{% block content %}

<style type="text/css">
	
	.list-divider {
		border: 1.5px solid;
		width: 20px;

	}

	.list-subtitle {
		margin-top: 1.75rem;
		margin-bottom: 1.75rem;
	}

</style>

<h3 style="text-transform: capitalize;">{{ category.category_name }}</h3>

Category Description

<hr class="list-divider" align="left"/>

<div class="list-subtitle">
	<h5>Most Popular Articles in {{ category.category_name }}</h5>
</div>

{% set pdfs = pdf %}
{% set pdf_carousel_id = "carouselPopularPdf" %}
{% include 'utils/list_pdf.html'%}

<hr/>

<div class="list-subtitle">
	<h5>Most Popular Videos in {{ category.category_name }}</h5>
</div>

{% set videos = video %}
{% set video_carousel_id = "carouselPopularVideo" %}
{% include 'utils/list_video.html'%}

{% endblock %}