{% extends "common/layout.html" %}
{% block content %}

<style type="text/css">
	
	.list-divider {
		border: 1.5px solid;
		width: 20px;

	}

	.list-subtitle {
		margin-top: 1.75rem;
		margin-bottom: 1.75rem;
	}

</style>

<h3>Videos</h3>

Watch a summary of a book

<hr class="list-divider" align="left"/>

<div class="list-subtitle">
	<h5>Most Popular Videos</h5>
</div>

{% set videos = popular_videos %}
{% set video_carousel_id = "carouselPopularVideo" %}
{% include 'utils/list_video.html'%}

<hr/>
<div class="list-subtitle">
	<h5>Most Trending Videos</h5>
</div>

{% set videos = trending_videos %}
{% set video_carousel_id = "carouselTrendingVideo" %}
{% include 'utils/list_video.html'%}

{% endblock %}