{% extends "common/layout.html" %}
{% block content %}

<div class="row" style="margin-top: 50px;">
  {% for video in videos %}
    <a class="articles" href="{{ url_for('videos.video_details', video_id=video.id) }}" style="width:100%">
      <div style="width:100%; margin-top: 10px; margin-bottom:100px;">
        <h4 style="width:100%">{{ video.video_title }}</h4>
        <p>{{ video.video_description }}</p>
      </div>
    </a>
  {% endfor %}
</div>

{% endblock %}

<!--TODO 비디오 preview. 사진 한장 캡쳐해서 preview. Video 쪽은 Youtube 랑 똑같이 만들면 될듯-->