{% extends "common/layout.html" %}
{% block content %}

<style>
  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 45px;
}

  @media (max-width: 767px) {
      .markdown-body {
          padding: 15px;
      }
  }
</style>

<div class="page-header" style="margin-top: 50px;">
  <h3 style="display:inline;">{{ article.Article.article_title }}</h3>
  <p style="display:inline;">&nbsp;&nbsp;by {{ article.User.email }}</p>
</div>
<article class="markdown-body">
	{{ article.Article.article_context|markdown }}
</article>

{% endblock %}