{% extends "common/layout.html" %}
{% block content %}

<style type="text/css">

.forum-post {
  padding-top: 1vw
}

.forum-post-record {
  text-align: center;
}

.forum-post-record-name {
  font-size: 10pt;
}

.forum-post-record-number {
  font-size: 20pt;
  font-weight: bold;
}

.forum-post-author-thumbnail {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  margin-right: 1vw;
  margin-top: 0.2vw;
}

.forum-post-title {
  font-size: 15pt;
  font-weight: bold;
}

.forum-post-context {
  font-size: 10pt;
}

.forum-post-author {
  margin: auto;
  margin-top: 4vh;
}

.forum-post-author-name {
  color: black !important;
  text-decoration: none !important;
  font-weight: bold;
  font-size: 10pt;
}

.forum-post-date {
  font-size: 7pt;
}

.forum-sort-btn {
  background-color: Transparent;
  border: none;
  cursor:pointer;
  outline:none;
  color: gray;
}

.forum-page-btn {
  width: 20px;
  text-decoration: none !important;
  color: gray;
  font-size: 10pt;
  text-align: center;
  display: inline-block;
}

</style>


<div class="row" style="padding-bottom: 1vw">

<div class="btn-group " role="group" aria-label="Basic example" style="margin: auto;">
  <a href="{{ url_for('articles.index', sort='new') }}"><button type="button" class="btn forum-sort-btn">NEW</button></a>
  <a href="{{ url_for('articles.index', sort='view') }}"><button type="button" class="btn forum-sort-btn">VIEW</button></a>
  <a href="{{ url_for('articles.index', sort='answer') }}"><button type="button" class="btn forum-sort-btn">ANSWER</button></a>
  <a href="{{ url_for('articles.index', sort='vote') }}"><button type="button" class="btn forum-sort-btn">VOTE</button></a>
</div>

</div>
<hr/>

{% for article in articles.items %}
<div class="row forum-post">
  <div class="col-sm-1" style="color: #b8babc;">
    <i class="fas fa-comments fa-2x"></i>
  </div>
  <div class="col-sm-8">
    <a href="{{ url_for('articles.article_details', article_id=article.Article.id) }}" style="color: black; text-decoration: none !important">
      <div class="forum-post-title">
        {{ article.Article.article_title }}
      </div>
      <!--
      <div class="forum-post-context">
        {{ article.Article.article_context[:230] }}
      </div>
      -->
    </a>
    <div class="forum-post-author" style="margin:1vw; margin-bottom: 3vw; margin-left: 60%">
      <img class="forum-post-author-thumbnail" src="{{ url_for('static', filename='image/user/' + article.User.thumbnail) }}">
      <div>
        <a href="{{ url_for('users.user_profile', user_id = article.User.id) }}" class="forum-post-author-name">  {{ article.User.username }} </a> <br/>
      <div class="forum-post-date"> {{ format_date(article.Article.article_creDate) }} </div>
      </div>
    </div>
    </div>

  <div class="col-sm-1">
    <div class="forum-post-record">
      <div class="forum-post-record-number">{{ article.Article.article_like }}</div>
      <div class="forum-post-record-name">votes</div>
    </div>
  </div>
  <div class="col-sm-1">
    <div class="forum-post-record">
      <div class="forum-post-record-number">{{ article.Article.article_comment_num }}</div>
      <div class="forum-post-record-name">answers</div>
    </div>
  </div>
  <div class="col-sm-1">
    <div class="forum-post-record">
      <div class="forum-post-record-number">{{ article.Article.article_hit }}</div>
      <div class="forum-post-record-name">views</div>
    </div>
  </div>
</div>
<hr/>
{% endfor %}

<div style="text-align:center">
{% for page in articles.iter_pages(left_edge = 1, right_edge = 1) %}
	{% if page %}
		<a href="{{ url_for('articles.index', page=page, sort=sort) }}" display="inline-block">
      <div class="forum-page-btn">
      {{page}}
      </div>
    </a>
	{% else %}
		...
	{% endif %}
{% endfor %}
</div>

{% endblock %}